/* Styles.css */

body,
html {
    font-family: 'Roboto', sans-serif;
    height: 100%;
    background-image: url("../img/bg.svg");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

:root {
    --twitter-color: #50b7f5;
    --twitter-background: #e6ecf0;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    outline: none;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}

.grid-container {
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    grid-template-areas: "sidebar main right_sidebar" "sidebar main right_sidebar";
    gap: 20px;
}

.main {
    grid-area: main;
    background: rgba(0, 0, 0, 0.25);
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.18);
}

.profile {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}

.profile-info {
    text-align: center;
}

.profile-info img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin-bottom: 20px;
}

.profile-info h1 {
    font-size: 24px;
    margin-bottom: 10px;
    color: white;
}

.profile-info p {
    font-size: 16px;
    margin-bottom: 10px;
    color: white;
}

.profile-info .edit-profile {
    display: inline-block;
    padding: 8px 20px;
    border-radius: 20px;
    background-color: var(--twitter-color);
    color: #fff;
    text-decoration: none;
    margin-top: 10px;
}

.profile-info .edit-profile:hover {
    background-color: #3f9ae5;
}

.tweets {
    width: 100%;
    margin-top: 20px;
    color: #fff;
}

.tweet {
    border: 1px solid #e1e8ed;
    border-radius: 8px;
    padding: 10px;
    color: #fff;
    margin-bottom: 10px;
}

.tweet p {
    margin-bottom: 10px;
}

.tweet span {
    color: #adb8c2;
    font-size: 14px;
}

.tweet-actions {
    margin-top: 10px;
}

.tweet-actions button {
    background-color: transparent;
    border: none;
    color: #1da1f2;
    font-weight: bold;
    cursor: pointer;
    margin-right: 10px;
}

.tweet-reactions {
    margin-top: 10px;
}

.likes-count,
.comments-count {
    margin-right: 10px;
    color: #657786;
    font-size: 14px;
}

